<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hankooktech.shep.sample.SampleMapper">
    <select id="list" resultType="com.hankooktech.fc.biz_common.group.GroupDTO$Response" parameterType="hashmap">
        SELECT 1 from DUAL
    </select>
</mapper>
